{% extends "kalerts/base.html" %}

{% block content %}
    <h1>Sync objects</h1>

    <form action="" method="post">
        {% csrf_token %}

        <table>
            {{ form.as_table }}
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Sync"/>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}